@model IEnumerable<StudentCrud.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeptunCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeptunCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                <img src="/Home/GetImage?id=@item.UID" 
                     width="100" height="100"/>
            </td>
            <td>
                <a href="/Home/Delete?id=@item.UID">Delete</a>
                <span> | </span>
                <a href="/Home/Modify?id=@item.UID">Modify</a>
                <span> | </span>
                <a href="/Home/Print?id=@item.UID">Print</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
